


/* div {
    display: block;

} */
.containerA {
   display: flex;
   flex-flow: column;
   align-items: center;
   
   margin: 0 auto;
   background: linear-gradient(to bottom left, rgb(255, 255, 255), rgb(199, 193, 193));
   ;
    
}


.header {
  color: rgb(0, 0, 0);
  font-family: 'Segoe UI',
  Tahoma,
  Geneva,
  Verdana,
  sans-serif;
  text-decoration: underline;
  padding-left: 465px;
  letter-spacing: 2px;
}

h1{
  text-align: center;
  
  padding: 10px;
}

h2{
  padding: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
}
h3{
  padding: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
  padding-top: 5px;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width: 1104px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .col-4{width: 100%;}
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}


.col p{
  /* display: flex; */
  width: 1200px;
  /* background-color: #8ca0ff;  */
  margin-top: 10px;
  padding-right: 50px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  font-size: 23px;
  padding: 5px;
  margin-bottom: 1em;
  color: rgb(0, 0, 0);
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* .containerA {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin: 0px !important;
}

 .containerA .row .col-4 .col .event{
  position: relative;
  height: 180px;

  /* width: 130px; */
  /* overflow-y: scroll; */






.col-l-2{
  width: 16.66%;
  float: left;
  padding: 0;
}
.col-l-8{
  width: 66.66%;
  float: left;
  padding: 0px;
}

.col-l-1 {width: 8.33%;}
.col-l-2 {width: 16.66%;}
.col-l-3 {width: 25%;}
.col-l-4 {width: 33.33%;}
.col-l-5 {width: 41.66%;}
.col-l-6 {width: 50%;}
.col-l-7 {width: 58.33%;}
.col-l-8 {width: 66.66%;}
.col-l-9 {width: 75%;}
.col-l-10 {width: 83.33%;}
.col-l-11 {width: 91.66%;}
.col-l-12 {width: 100%;}
 /* [class*="col-"] {
  width: 100%;
} */

[class*="col-l-"] {
  padding: 3px;
  float: left;
} 
 @media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  
}

@media screen and (max-width: 768px) {
    
  .col p {
    /* display: flex; */
    width: 100%;
    /* background-color: #8ca0ff;  */
    margin-top: 10px;
    padding-left: 60px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    font-size: 15px;
    /* padding: 5px; */
    margin-bottom: 1em;
    color: rgb(0, 0, 0);
  }
}

